[Desktop Entry]
Name=Disk Usage
Name[es]=Uso del Disco
Name[fr]=Utilisation du disque
Name[it]=Utilizzo del Disco
Name[id]=Pemakaian Disk
Name[ja]=ディスク使用量
Name[pl]=Użycie Dysku
Name[pt_BR]=Utilização do Disco
Name[pt_PT]=Utilização do Disco
Name[ru]=Использование диска
Comment=Shows status of the disk usage
Comment[es]=Muestra el estado del uso del disco
Comment[fr]=Montre le niveau d'utilisation du disque
Comment[id]=Menunjukkan status pemakaian disk
Comment[it]=Mostra lo status e l'utilizzo del disco
Comment[ja]=ディスク使用量の状況を表示します
Comment[pl]=Wyświetla stan użycia dysku
Comment[pt_BR]=Mostra o estado da utilização do disco
Comment[pt_PT]=Mostra o estado da utilização do Disco
Comment[ru]=Показывает статус использования диска
Exec=/usr/bin/sparky-xdf
Icon=drive-harddisk
Terminal=false
Type=Application
Categories=System;
